<configuration>
    <appender name="MDC" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{HH:mm:ss.SSS} [%X{Request:-CommonLog}] - %msg%n </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="MDC"/>
    </root>
</configuration>
